<% if DbStorage.enabled? %>
  <% catalog = DbStorage.catalog %>
  <% db_store_current_migration = ActiveRecord::Migrator.current_version %>
  <div id="db_store" class="<%= 'db_store_active' if @db_store_active %>">
    <div id="db_store_message"></div>
    <div id="db_store_title">DB Store</div>
    <%= form_tag "/db_stores/" do %>
      <%= text_field(:db_store, :name) %>
      <button>Save</button>
    <% end %>
    <%= form_tag "/db_stores/" do %>
      <%= select :db_store, :name, options_for_select(DbStorage.names) %>
      <button>Replace</button>
    <% end %>
    <%= form_tag "/db_stores/restore" do %>
      <select id="db_store_name" name="db_store[name]">
        <% catalog.list.each do |store| %>
          <option value="<%= store["name"] %>"
                  class="<%= 'db_store_stale' if store["migration"] != db_store_current_migration %>">
            <%= store["name"] %>
          </option>
        <% end %>
      </select>
      <button>Load</button>
      <span class="db_store_stale_warning <%= 'db_store_active' if catalog.list[0]["migration"] != db_store_current_migration %>">Stale!</span>
    <% end %>
    <span id="db_store_edit_list">Edit list</span>
    <div id="db_store_list">
      <%= form_tag "/db_stores/destroy" do %>
        <table>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Created</th>
            <th>Status</th>
          </tr>
          <% catalog.list.each do |store| %>
            <tr>
              <td><%= check_box_tag "names[]", store["name"] %></td>
              <td><%= store["name"] %></td>
              <td><%= store["created"] %></td>
              <td><%= "Stale" if store["migration"] != db_store_current_migration %></td>
            </tr>
          <% end %>
        </table>
        <button>Delete</button>
      <% end %>
    </div>
  </div>
<% end %>
